<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBAAdV2iobTEPu6nto2Jo0XPclItd-Ef5k</string>
	<key>GCM_SENDER_ID</key>
	<string>808318506436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plantapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>plantproject-122a8</string>
	<key>STORAGE_BUCKET</key>
	<string>plantproject-122a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808318506436:ios:28bdb4048bc8b3dcc90091</string>
</dict>
</plist>